* { box-sizing: border-box; }
body {
	font-family: helvetica, arial, sans-serif;
	background-color: #333;
	margin: 0px;
}
.wrapper {
	background-color: #eee;

	width: 800px;

	margin: auto;
	padding: 15px;
	margin-bottom: 300px;
}

img.respond {
	max-width: 100%;
	height: auto;
}

header, footer {
	background-color: teal;
	text-align: center;
	padding: 50px 25px;
	color: white;
}
header { font-size: 30px; font-weight: bold; text-transform: uppercase; }
footer { font-size: 12px; }


.tabbed {
	border-top: solid 10px maroon;
	border-bottom: solid 10px maroon;
	margin: 15px 0px 15px;
	padding: 15px 0px 15px;
}
.tabs {}
.tabs a {
	display: inline-block;
	width: 100px;
	border-radius: 10px 10px 0px 0px;
	height: 40px;
	line-height: 45px;
	text-align: center;
	text-decoration: none;
	color: white;

	background-color: #c1c1c1;
	font-weight: normal;
}
.tabs a.chosen {
	background-color: teal;
	font-weight: bold;
	color: #c2dcff;
}
section {
	margin-bottom: 20px;
	padding: 20px;
	background-color: teal;
}